<div style="border: 1px solid blue; background-color: white; padding: 5px;">
    <h3>Activity</h3>
    <ul style="list-style-type: none">
        <li>
            <input id="activityFilterActive" type="checkbox" value="active" checked
                   data-dojo-type="dijit/form/CheckBox" >
            <label for="activityFilterActive">Active</label>
        </li>
        <li>
            <input id="activityFilterInactive" type="checkbox" value="inactive"
                   data-dojo-type="dijit/form/CheckBox" >
            <label for="activityFilterInactive">Inactive</label>
        </li>
    </ul>
</div>
